
 

.container {
    display:flex;
    flex-flow: row wrap;
    width:auto;

   
    align-content: center;
    justify-content: center;
    background-color: black;
 
   text-align:center;
   margin: 10px;
   padding: 10px;
}