@import url(boxes.css);
@import url(containers.css);
@import url(buttons.css);
@import url(Articles.css);

head {
    background-color: darkblue;
    color: orange;
    text-align: center;
    width: max-content;
}

body {
    background-color: darkblue;
    color: yellow;
    margin: 20px;
    text-align: center;
    justify-items: center;
}

h1 {
    
    color: yellow;
    text-align: center;
}

h2 {
    color: yellow;
    text-align: center;

}

h3 {
    color: yellow;
    text-align: center;
    font-style: italic;
}
p {
background-color: darkblue;
    color: white;
display: block;
text-align: center;
font-weight: bold;
font-size: 100%;
}

a {
    color: yellow;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 200%;
    font-weight: bold;
}

.navbar ul {
    list-style:none;
    background-color: black;
    color: black;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.navbar li {
    display: inline-block;

}

.navbar a {
    text-decoration: none;
    width: 100px;
    display: block;
    padding:20px 20px;
    font-weight: bold;
}

.navbar a:hover
{
    background: white;
    color: darkblue;

}

